@media (max-width: 1625px) {
    .add-to-favorites {
        display: none;
    }
    .contacts-intro__pic {
        width: 30%;
    }
    .contacts-intro__pic img {
        width: 100%;
        height: auto;
    }
    .drilling-spec-tech-pic {
        display: none;
    }
    .about-pic {
        right: -250px;
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
    .intro-order::before {
        width: 53%;
    }
    .about {
        padding: 90px 0 90px;
    }
    .discount-form .consultation-form::after {
        right: -70px;
        top: -40px;
        width: 170px;
        height: 170px;
    }
    .discount-form__inner::before {
        width: 170px;
        height: 170px;
    }
    .discount-form__text {
        top: 30px;
        right: -64px;
        font-size: 40px;
    }  
    .products-pic {
        right: -335px;
    }
    .intro__pic {
        width: 60%;
    }
    .contacts-intro__pic {
        width: 39%;
    }
    .about-pic {
        z-index: -1;
    }
}
@media (max-width: 1200px) {
    .discount-form .consultation-form::after,
    .discount-form__inner::before,
    .discount-form__text {
        display: none;
    }
    .about-list__item {
        max-width: 300px;
    }
    .managers-content__text {
        max-width: 540px;
    }
    .drilling-products .products-list-cards {
        justify-content: space-around;
    }
    .drilling-products .products-list-card:nth-child(2n) {
        margin: 0 0 30px;
    }
    .products-list-card {
        min-width: 370px;
    }
    .montage-list {
        justify-content: space-around;
    }
    .montage-list__item::after {
        display: none;
    }
    .montage-list__item:nth-child(4) {
        order: 3;
    }
    .montage-list__item:nth-child(5) {
        order: 2;
    }
    .montage-list__item:nth-child(6) {
        order: 1;
    }
    .contacts-intro__pic {
        display: none;
    }
}
@media (max-width: 1024px) {
    body {
        font-size: 18px;
        line-height: 120%;
    }
    .header-top {
        display: none;
    }
    .header-bottom {
        display: none;
    }
    .mobile-menu {
        display: block;
        box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    }
    .intro {
        padding: 50px 0 120px;
    }
    .intro__title,
    .intro__subtitle {
        font-size: 35px;
        line-height: 35px;
    }
    .intro-order__title {
        font-size: 25px;
        line-height: 35px;
    }
    .intro-location__icon {
        max-width: 30px;
    }
    .intro-location__icon img {
        width: 100%;
        height: auto;
    }
    .intro-location__text {
        font-size: 18px;
        line-height: 25px;
    }
    .intro-order__btn-link {
        font-size: 15px;
        padding: 12px 15px;
    }
    .intro-order::before {
        bottom: 75px;
        width: 55%;
    }
    .intro__pic {
        bottom: 50%;
        transform: translateY(50%);
    }
    .section-title {
        font-size: 28px;
        line-height: 35px;
    }
    .services {
        padding: 100px 0 100px;
    }
    .services-list {
        justify-content: space-around;
    }
    .services-list-item {
        margin-bottom: 20px;
    }
    .services-list-item__title {
        font-size: 15px;
        line-height: 20px;
    }
    .services__bg-pic {
        width: 65%;
    }
    .services__bg-pic img {
        width: 100%;
        height: auto;
        display: block;
    }
    .section-subtittle,
    .section-subtitle {
        font-size: 22px;
        line-height: 26px;
    }
    .why {
        padding: 100px 0 82px;
    }
    .why-list__item {
        width: 28%;
        margin-bottom: 25px;
    }
    .consultation {
        min-width: 650px;
        margin: 0 auto;
        flex-direction: column;
    }
    .consultation .form-group {
        width: 100%;
        margin-bottom: 20px;
    } 
    .consultation .form-submit {
        width: 100%;
        margin-left: 0;
    }
    .checkbox-label__text {
        text-align: left;
    }
    .partners {
        padding: 90px 0 90px;
    }
    .partners-list {
        justify-content: space-around;
    }
    .partners-list__item {
        margin-bottom: 20px;
    }
    .section-contacts {
        padding: 100px 0 100px;
    }
    .section-contacts__inner {
        flex-wrap: wrap;
    }
    .section-contacts-col {
        width: 100%;
        margin-bottom: 45px;
    }
    .question-form {
        width: 60%;
        min-width: 650px;
        margin: 0 auto;
    }
    .section-contacts-col___title {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__innrer {
        flex-wrap: wrap;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col:last-child {
        margin-bottom: 0;
    }
    .footer-contacts {
        align-items: flex-start;
    }
    .footer__callback {
        align-items: flex-end;
    }
    .managers {
        padding: 80px 0 80px;
    }
    .managers-content {
        flex-wrap: wrap;
    }
    .managers-text {
        margin-bottom: 65px;
    }
    .managers-content__text {
        max-width: 100%;
    }
    .managers-content__pic {
        margin: 0 auto;
    }
    .certificates {
        margin-top: 90px;
    }
    .certificates-list {
        flex-wrap: wrap;
    }
    .certificates-list__item {
        width: 28%;
        margin-bottom: 20px;
    }
    .about-list {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 35px;
    }
    .about-list__item {
        margin-bottom: 30px;
    }
    .contacts-intro {
        padding: 80px 0 65px;
    }
    .contacts-intro::before, 
    .contacts-intro::after {
        top: 180px;
        height: 700px;
    }
    .contacts-intro-col__title {
        font-size: 25px;
        line-height: 30px;
    }
    .contacts-intro-col__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .second-intro__title.drilling-intro__title {
        font-size: 30px;
        line-height: 40px;
    }
    .second-intro-list {
        flex-direction: column;
        align-items: center;
    }
    .second-intro-list__item {
        margin-bottom: 20px;
        width: 40%;
        min-width: 380px;
    }
    .second-intro-list__item:last-child {
        margin-bottom: 0;
    }
    .drilling-info__inner {
        flex-wrap: wrap;
    }
    .drilling-info__text {
        order: 1;
        width: 100%;
    }
    .drilling-info__pic {
        order: 2;
        width: 100%;
        max-width: 500px;
        margin: 65px auto 0;
    }
    .recommendation-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .recommendation-list__item {
        min-width: 370px;
        width: 50%;
        margin-bottom: 30px;
    }
    .recommendation-list__item:last-child {
        margin-bottom: 0;
    }
    .discount {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .discount .form-group {
        width: 100%;
        margin-bottom: 30px;
    } 
    .discount .form-submit {
        margin-left: 0;
    } 
    .differences-table-wrapper {
        overflow-x: auto;
    }
    .products-list__subtitle {
        font-size: 25px;
        line-height: 30px;
    }
    .products-pic {
        display: none;
    }
    .products-list__guarantee {
        padding: 30px;
    }
    .products-list__guarantee-text {
        font-size: 25px;
        line-height: 30px;
        min-width: 150px;
    }
    .products-list__guarantee-years {
        font-size: 25px;
        line-height: 28px;
    }
    .products-list__guarantee-num {
        font-size: 45px;
    }
    .montage-form .consultation .form-submit {
        width: 100%;
        margin-left: 0px;
    }
    .montage-form {
        top: -620px;
    }
    .products-list-cards {
        justify-content: space-around;
    }
    .video {
        padding: 370px 0 108px;
    } 
    .related-products__title {
        margin-bottom: 10px;
    }
    .contract-content {
        flex-wrap: wrap;
    }
    .contract-text {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .contract-pic {
        width: 50%;
        margin: 0 auto;
    }
    .partners__pic {
        display: none;
    }
}
@media (max-width: 768px) {
    .intro__title, 
    .intro__subtitle,
    .second-intro__title {
        font-size: 28px;
        line-height: 32px;
    }
    .intro__title {
        max-width: 400px;
        margin-bottom: 10px;
    }
    .intro__subtitle {
        max-width: 435px;
    }
    .intro-location {
        margin-top: 15px;
    }
    .intro-location__icon,
    .second-intro-location__icon {
        max-width: 25px;
    }
    .second-intro-location__icon img {
        width: 100%;
        height: auto;
    }
    .intro-location__text,
    .second-intro-location__text {
        font-size: 16px;
        line-height: 20px;
    }
    .intro-order {
        margin-top: 40px;
    }
    .intro-order__title,
    .second-intro-consultation__title {
        font-size: 22px;
    }
    .intro-order::before {
        width: 75%;
        bottom: 80px;
        height: 190px;
    }
    .consultation,
    .question-form {
        min-width: auto;
        width: 100%;
    }
    .about-list__number {
        font-size: 35px;
    }
    .about-list__text {
        font-size: 14px;
    }
    .about-list__icon {
        margin-bottom: 20px;
    }
    .spec-tech-list__item {
        width: 48%;
    }
    .managers {
        padding: 80px 0 0px;
    }
    .managers__title {
        margin-bottom: 30px;
    }
    .spec-tech {
        padding: 80px 0 80px;
    }
    .contacts-intro-col__title {
        font-size: 20px;
        line-height: 25px;
    }
    .contacts-intro-col__title {
        margin-bottom: 20px;
    }
    .contacts-intro::before, 
    .contacts-intro::after {
        top: 200px;
    }
    .discount {
        width: 100%;
    }
    .second-intro-consultation__link {
        padding: 15px 20px;
        font-size: 14px;
    }
    .drilling-products-pic {
        display: none;
    }
    .consequence-warning {
        position: static;
        bottom: auto;
        left: auto;
    }
    .consequence-list {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
    }
    .consequence-list__item {
        width: 70%;
        margin-bottom: 30px;
    }
    .consequence-list__item:last-child {
        margin-bottom: 0;
    }
    .consequence-list__item:nth-child(1) {
        margin-top: 0;
    }
    .consequence-list__item:nth-child(3) {
        margin-top: 0;
    }
    .video-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .video-list__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .video-list__item:last-child {
        margin-bottom: 0;
    }
    .contract-pic {
        width: 70%;
    }
    .products-list__title {
        flex-wrap: wrap;
    }
    .products-list__type {
        padding-right: 0;
        border: none;
    }
    .products-list__guarantee {
        margin-left: auto;
        margin-top: 20px;
    }
    .recommendation__subtitle {
        font-size: 25px;
    }
    .video-popup__wrapper {
        width: 100%;
    }
}
@media (max-width: 660px) {
    body {
        font-size: 14px;
        line-height: 18px;
    }
    .section-title {
        font-size: 20px;
        line-height: 28px;
    }
    .section-subtitle {
        font-size: 18px;
        line-height: 22px;
    }
    .mobile-menu .logo {
        width: 80px;
    }
    .line-above-title::before {
        height: 3px;
    }
    .intro {
        padding: 50px 0 100px;
    }
    .intro__title, 
    .intro__subtitle,
    .second-intro__title,
    .second-intro__title.drilling-intro__title {
        font-size: 23px;
        line-height: 27px;
    }
    .intro-order__title,
    .second-intro-consultation__title {
        font-size: 20px;
        max-width: 400px;
    }
    .intro-order::before {
        width: 100%;
        bottom: 60px;
    }
    .intro-order__btn-link {
        font-size: 12px;
    }
    .intro__pic {
        display: none;
    }
    .services__bg-pic {
        display: none;
    }
    .consultation-form {
        padding: 40px 20px 40px;
    }
    .consultation-form__title {
        font-size: 25px;
    }
    .form-input {
        font-size: 14px;
        padding: 14px 14px;
    }
    .form-label {
        top: 17px;
        left: 14px;
        font-size: 14px;
    }
    .form-button {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;
    }
    .checkbox-label {
        font-size: 12px;
        font-weight: 400;
    }
    .why-list__item {
        min-width: 160px;
    }
    .why__text {
        line-height: 25px;
    }
    .section-contacts {
        padding: 70px 0 40px;
    }
    .section-contacts__map {
        height: 300px;
    }
    .footer-col {
        width: 100%;
        margin-bottom: 40px;
    }
    .footer__callback {
        align-items: flex-start;
    }
    .footer-btn__link {
        padding: 10px 10px;
        font-size: 12px;
    }
    .about {
        padding: 65px 0 65px;
    }
    .about-pic {
        display: none;
    }
    .managers-text {
        font-size: 14px;
    }
    .certificates {
        margin-top: 40px;
    }
    .certificates__titel {
        margin-bottom: 45px;
    }
    .certificates-list__item {
        width: 48%;
    }
    .managers-content__pic {
        max-width: 95%;
    }
    .managers-content__pic img {
        box-shadow: 15px -15px 0 #3c98f6;
    }
    .spec-tech {
        padding: 65px 0 65px;
    }
    .spec-tech-list {
        justify-content: space-around;
    }
    .spec-tech-list__item {
        width: 100%;
        padding: 10px 10px;
    }
    .contacts-intro__content {
        flex-wrap: wrap;
    }
    .contacts-intro-col {
        width: 100%;
        margin-bottom: 25px;
    }
    .contacts-intro-col:last-child {
        margin-bottom: 0;
    }
    .contacts-intro::before,
    .contacts-intro::after {
        display: none;
    }
    .contacts-intro-col__item {
        font-size: 14px;
    }
    .contacts-intro__text {
        margin-bottom: 40px;
    }
    .contacts-intro-col__title {
        font-size: 18px;
        line-height: 20px;
    }
    .second-intro-consultation__text {
        font-size: 12px;
        line-height: 18px;
    }
    .second-intro-list__item {
        width: 85%;
        min-width: 280px;
        margin-bottom: 15px;
    }
    .products-list-card {
        width: 100%;
        max-width: 460px;
        min-width: 200px;
    }
    .drilling-montage .montage-list__text,
    .montage-list__text {
        font-size: 15px;
    }
    .montage-list__item {
        width: 300px;
    }
    .montage-list-btn__link {
        font-size: 12px;
    }
    .recommendation-list__item {
        min-width: 250px;
        width: 100%;
    }
    .recommendation-list__title {
        font-size: 20px;
        line-height: 25px;
    }
    .products-list__subtitle {
        font-size: 16px;
        line-height: 30px;
    }
    .products-list__descr {
        line-height: 25px;
    }
    .products-list__guarantee {
        padding: 20px;
    }
    .products-list__guarantee-text {
        font-size: 18px;
        line-height: 20px;
        min-width: 110px;
    }
    .products-list__guarantee-years {
        font-size: 20px;
        line-height: 23px;
    }
    .products-list__guarantee-num {
        font-size: 35px;
    }
    .consequence__text {
        margin-bottom: 30px;
    }
    .consequence-list__item {
        width: 100%;
    }
    .consequence-warning {
        padding: 35px;
    }
    .consequence-warning__title {
        font-size: 25px;
    }
    .video-list__title {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .video-list__text {
        font-size: 16px;
        line-height: 32px;
    }
    .video-list-play-btn {
        width: 50px;
        height: 50px;
    }
    .contract::before {
        display: none;
    }
    .contract-pic::before {
        display: none;
    }
    .contract-pic {
        width: 100%;
    }
    .consequence-warning__text {
        line-height: 20px;
    }
    .contract-form {
        margin-top: 80px;
    }
    .video-popup__wrapper {
        padding: 0;
    }
    .popup-form__title {
        font-size: 20px;
        line-height: 26px;
    }
    .popup-form__content .form-label {
        top: 13px;
    }
    .popup-wrapper {
        padding: 50px 15px 40px;
    }
    .popup-form-phone {
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        margin: 20px auto 0;
    }
    .popup-form-phone__link {
        font-size: 30px;
    }
}
@media (max-width: 425px) {
    .second-intro-consultation__link {
        padding: 12px 15px;
        font-size: 10px;
    }
    .second-intro {
        padding: 50px 0 50px;
    }
    .products-list-card__btn-link {
        font-size: 12px;
    }
    .products-list-card__price {
        font-size: 20px;
    }
    .products-list-card__descr {
        font-size: 14px;
    }
    .consultation-form__title {
        font-size: 23px;
    }
    .consultation-form__small-text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto 20px;
    }
    .consultation-form__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
    .popup-photo__wrapper {
        width: 100%;
    }
}
@media (max-width: 375px) {
    .intro__title, .intro__subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .intro-location {
        margin-top: 30px;
    }
    .consultation-form {
        padding: 20px 10px 20px;
    }
    .consultation-form__title {
        font-size: 20px;
    }
    .consultation-form__text {
        line-height: 20px;
    }
    .intro-order {
        margin-top: 65px;
    }
    .intro-order__title {
        font-size: 18px;
        line-height: 23px;
    }
    .why__text, 
    .partners__text {
        line-height: 20px;
    }  
    .footer .contact-link {
        font-size: 16px;
    }
    .form-button {
        font-size: 12px;
    }
    .contacts-intro {
        padding: 65px 0 65px;
    }
    .montage-list__item {
        margin-bottom: 85px;
    }
}