@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBlack.eot');
    src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),
         url('../fonts/MontserratBlack.woff2') format('woff2'),
         url('../fonts/MontserratBlack.woff') format('woff'),
         url('../fonts/MontserratBlack.ttf') format('truetype'),
         url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
    src: url('../fonts/MontserratExtraBold.eot');
    src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratExtraBold.woff2') format('woff2'),
         url('../fonts/MontserratExtraBold.woff') format('woff'),
         url('../fonts/MontserratExtraBold.ttf') format('truetype'),
         url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratBold.woff2') format('woff2'),
         url('../fonts/MontserratBold.woff') format('woff'),
         url('../fonts/MontserratBold.ttf') format('truetype'),
         url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/MontserratSemiBold.woff') format('woff'),
         url('../fonts/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratMedium.eot');
    src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('../fonts/MontserratMedium.woff2') format('woff2'),
         url('../fonts/MontserratMedium.woff') format('woff'),
         url('../fonts/MontserratMedium.ttf') format('truetype'),
         url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../fonts/MontserratRegular.woff2') format('woff2'),
         url('../fonts/MontserratRegular.woff') format('woff'),
         url('../fonts/MontserratRegular.ttf') format('truetype'),
         url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.eot') format('embedded-opentype'),
         url('../fonts/MontserratLight.woff2') format('woff2'),
         url('../fonts/MontserratLight.woff') format('woff'),
         url('../fonts/MontserratLight.ttf') format('truetype'),
         url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura_pt_demi.eot'); 
	src: url('../fonts/futura_pt_demi.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/futura_pt_demi.woff2') format('woff2'),
		url('../fonts/futura_pt_demi.woff') format('woff'), 
		url('../fonts/futura_pt_demi.ttf') format('truetype'), 
		url('../fonts/futura_pt_demi.svg#futura_pt_demi') format('svg'); 
    font-weight: 600;
    font-style: normal;
}

/* BASE STYLES */

body {
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    background: #fff;
    overflow-x: hidden
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
	padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.white-bg {
    display: inline-block;
    padding: 0 10px;
    background: #fff;
    margin-bottom: 10px;
}
.color-blue {
    color: #3c98f6;
}
.color-red {
    color: #ff5644;
}
.color-orange {
    color: #f6683c;
}
.link-transition {
    transition: .3s linear;
}
.link-transition:hover {
    color: #177de4;
}
.gray-bg {
    background: #f2f2f6;
}
.text-uppercase {
    text-transform: uppercase;
}
.no-scroll {
    overflow: hidden;
}

/* HEADER */

.header {
    width: 100%;
}
.header-top {
    position: relative;
    padding: 17px 0 16px;
}
.header-top__inner {
    position: relative;
}
.header-top__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px; 
    line-height: 100%;
} 
.header-top__col-text {
    line-height: 150%;
}
.header-top__suptitle {
    font-weight: 600;
}
.header-top-list {

    margin-block-start: 15px;
    margin-block-end: 0;
    padding-inline-start: 18px;
}
.header-top-list__item {
    font-size: 20px;
    line-height: 12px;
    margin-bottom: 7px;
    color: #358aa9;
}
.header-top-list__item span {
    color: #2a2a2a;
    font-size: 14px;
}
.header-top__consultation {
    text-align: center;
}
.header-top__title {
    font-size: 16px;
    font-weight: 600;
    margin: 7px 0 0;
}
.page-btn__link {
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #3c98f6;
    border-radius: 5px;
    transition: .3s linear;
}
.page-btn__link:hover {
    background: #177de4;
}
.header-top-btn {
    margin: 28px 0 35px;
}
.header-top__contacts {
    align-self: stretch;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}
.contacts__item {
    display: flex;
    align-items: center;
}
.contacts__content {
    margin-left: 10px;
}
.contact-link {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.59px;
    text-decoration: none;
    color: #2a2a2a;
    margin-left: auto;
    transition: .3s linear;
}
.contact-link:hover {
    color: #3c97f5;
}
.messengers {
    display: flex;
    align-items: center;
}
.messengers__link {
    text-decoration: none;
}
.contacts-email .contact-link {
    font-weight: 400;
}
.schedule-text {
    font-size: 11px;
}
.add-to-favorites {
    position: absolute;
    top: 0;
    right: 30px;
    width: 173px;
    height: 104px;
}
.add-to-favorites__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 17px;
}
.add-to-favorites__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f94141;
    transform: skewX(-20deg);
    z-index: -1;
}
.add-to-favorites__text {
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    color: #fff;
    max-width: 91px;
    margin: 0 auto;
}
.add-to-favorites__icon {
    position: absolute;
    bottom: 8px;
    left: 0;
    font-size: 41px;
    font-weight: 700;
    color: #fff;
}
.add-to-favorites__link {
    text-decoration: none;
}

.header-bottom {
    background: #194359;
}
.page-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.page-nav__item {
    position: relative;
    width: 25%;
    text-align: center;
    padding: 18px 0;
}
.page-nav__item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #2e667e;
    transform: translateY(-50%);
}
.page-nav__item:last-child:after {
    display: none;
}
.page-nav__link {
    font-size: 15px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.top-menu {
    position: relative;
}
.sub-menu {
    position: absolute;
    top: 58px;
    left: 0;
    width: 326px;
    background-color: #fff;
    z-index: 10;
    list-style: none;
    padding-inline-start: 0;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
    transform-origin: 50% 0;
    transform: scaleY(0);
    transition: .3s linear;

}
.top-menu:hover .sub-menu {
    transform: scaleY(1);
}
.sub-menu__item {
    padding: 10px 0 10px 42px;
    transition: .3s linear;
}
.sub-menu__item:hover {
    background: #194359;
}
.sub-menu__link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #194359;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s linear;
}
.sub-menu__item:hover .sub-menu__link {
    color: #fff;
}

/* MOBILE MENU */

.mobile-menu {
    position: relative;
    display: none;
}
.mobile-menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.mobile-menu .logo {
    width: 100px;
}
.mobile-menu .logo img {
    width: 100%;
    height: auto;
    display: block;
}
.burger-menu {
    width: 35px;
    cursor: pointer;
}
.burger-menu__item {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #194359;
}
.burger-menu__item:nth-child(2) {
    margin: 7px 0;
}
.jump-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 45px 20px;
    background: #fff;
    z-index: 20;
    transform: translateX(100%);
    transition: .3s linear;
}
.jump-menu.jump-menu_active {
    transform: translateX(0);
}
.jump-menu__wrapper {
    position: relative;
}
.jump-menu .page-nav__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.jump-menu .page-nav__item {
    width: 100%;
}
.jump-menu .page-nav__link {
    color: #194359;
}
.jump-menu .page-nav__item::after {
    display: none;
}
.jump-menu .contacts {
    height: auto;
    align-items: center;
    justify-content: flex-start;
}
.jump-menu .contacts__item {
    margin-bottom: 20px;
}
.jump-menu .header-top-btn {
    text-align: center;
}
.jump-menu__close {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 20px;
    cursor: pointer;
}
.jump-menu__close img {
    width: 100%;
    height: auto;
    display: block;
}
.jump-menu .sub-menu {
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 0;
    transform: scaleY(1);
}
.jump-menu .sub-menu__item {
    padding-left: 0;
}
.jump-menu .top-menu .page-nav__link {
    position: relative;
}
.jump-menu .top-menu .page-nav__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    display: block;
    background: url('../img/down_arrow.svg') no-repeat center;
    background-size: contain;
    z-index: 20;
}
.jump-menu .sub-menu__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.jump-menu .top-menu:hover .sub-menu {
    height: auto;
    padding: 10px 0;
}

/* INTRO */

.intro {
    position: relative;
    padding: 75px 0 145px;
    background: #06c3fa;
    overflow: hidden;
}
.intro__inner {
    display: flex;
}
.intro__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.intro__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    max-width: 535px;
    margin-bottom: 30px;
}
.intro__subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    max-width: 600px;
}
.intro__subtitle .white-bg {
    padding-bottom: 5px;
}
.intro__pic {
    position: absolute;
    bottom: 36px;
    right: -10px;
    width: 60%;
    max-width: 1000px;
    z-index: 1;
}
.intro__pic img {
    width: 100%;
    height: auto;
}
.intro-location {
    display: flex;
    align-items: center;
    margin-top: 31px;
}
.intro-location__icon {
    margin-right: 12px;
}
.intro-location__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    max-width: 320px;
}
.intro-order {
    margin-top: 66px;
    max-width: 515px;
    color: #fff;
}
.intro-order__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.intro-order__btn {
    margin-top: 30px;
}
.intro-order__btn-link {
    font-size: 17px;
    padding: 17px 21px;
    background-color: #54b6da;
}
.intro-order::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 112px;
    right: -43px;
    width: 50%;
    height: 202px;
    background-color: #194359;
    background-image: linear-gradient(to right, #1d3e51 0%, #4392af 100%);
    z-index: -1;
}

/* SERVICES */

.services {
    position: relative;
    overflow: hidden;
    padding: 134px 0 103px;
    background-color: #fafafb;
}
.services__bg-text {
    position: absolute;
    width: 100%;
    top: -65px;
    left: 0;
    font-family: 'Futura PT';
    font-size: 372px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #3c97f5;
    opacity: 0.05;
    z-index: -1;
}
.services__bg-pic {
    position: absolute;
    bottom: 62px;
    right: -161px;
}
.section-title {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}
.line-above-title::before {
    content: '';
    position: absolute;
    top: -13px;
    left: 0;
    width: 103px;
    height: 5px;
    background-color: #3c98f6;
}
.services__title {
    margin-bottom: 48px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.services-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 285px;
    height: 253px;
    padding: 30px 27px 32px;
    background: #fff;
    box-shadow: 0 0 62px 8px rgba(56, 69, 86, 0.03);
    margin-bottom: 11px;
    transition: .3s linear;
}
.icon-white {
    display: none;
}
.services-list-item:hover {
    background-color: #3c98f6;
    color: #fff;
}
.services-list-item:hover .icon-white {
    display: block;
}
.services-list-item:hover .icon-dark {
    display: none;
}
.services-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 17px;
    border: 10px solid #fff; 
    border-left: 10px solid #3c98f6; 
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.services-list-item:hover::before {
    border-left: 10px solid #fff; 
    border-top: 10px solid #fff;
    border-right: 10px solid #3c98f6; 
    border-bottom: 10px solid #3c98f6;
}
.services-list-item__btn {
    margin-top: 20px;
}
.services-list-item__link {
    font-size: 12px;
    color: #3c98f6;
    text-decoration: none;
    padding: 10px 26px;
    border-radius: 5px;
    border: 2px solid #3c98f6;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s linear;
}
.services-list-item:hover .services-list-item__link {
    color: #fff;
    border: 2px solid #fff;
}
.services-list-item__link:hover {
    background-color: #3c98f6;
    color: #fff;
}
.services-list-item__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 61px;
    margin-bottom: auto;
}
.services-list-item__title {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.services-list-item__title::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 49px;
    height: 2px;
    background-color: #3c98f6;
    transition: .3s linear;
}
.services-list-item:hover .services-list-item__title::before {
    background-color: #fff;
}


/* WHY */

.why {
    position: relative;
    padding: 137px 0 82px;
    overflow: hidden;
}
.why__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.why__bg img {
    width: 100%;
    height: auto;
    display: block;
}
.why__title {
    margin-bottom: 12px;
}
.why__text {
    margin-bottom: 24px;
    line-height: 32px;
}
.why__text .color-red {
    font-weight: 700;
}
.section-subtittle {
    font-size: 27px;
    font-weight: 700;
}
.why__subtitle {
    margin-bottom: 44px;
}
.why-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.why-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.why-list__icon {
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.why-list__icon img {
    margin-bottom: auto;
    margin-top: auto;
}
.why-list__num {
    font-size: 55px;
    line-height: 100%;
    font-weight: 700;  
}
.why-list__num_small {
    line-height: 38px;
    font-size: 40px;
    font-weight: 700;
}
.why-list__text {
    position: relative;
    margin-top: 32px;
    font-size: 15px;
    max-width: 190px;
}
.why-list__text::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 0;
    width: 71px;
    height: 3px;
    background-color: #3c98f6;
}
.consultation-form {
    width: 100%;
    padding: 57px 48px 41px;
    background-image: linear-gradient(to right, #1d3e51 0%, #4392af 100%);
    text-align: center;
    box-shadow: 0 -20px 0 #3c98f6;
}
.consultation-form__title {
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 17px;
}
.consultation-form__title span {
    text-transform: uppercase;
    padding-bottom: 3px;
    padding-top: 3px;
}
.consultation-form__text {
    color: #fff;
    margin-bottom: 29px;
    line-height: 28px;
}
.consultation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.form-group {
    position: relative;
}
.consultation .form-group {
    width: 32%;
}
.consultation .form-submit {
    width: 32%;
}
.form-button {
    font-family: 'Montserrat';
    display: block;
    width: 100%;
    border: none;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
.form-input {
    font-family: 'Montserrat';
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 17px 18px;
}
.form-label {
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 17px;
    color: #797979;
    transition: .3s linear;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
    opacity: 0;
}
.form-privacy-policy {
    margin-top: 13px;
    width: 100%;
}
.form-checkbox {
    display: none;
}
.checkbox-label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.checkbox-label__area {
    position: relative;
    width: 14px;
    min-width: 14px;
    height: 14px;
    background-color: #f2f2f3;
    margin-right: 8px;
    cursor: pointer;
    margin-top: 4px;
}
.checkbox-label__area img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.form-checkbox:checked ~ .checkbox-label img {
    display: block;
}
.checkbox-label a {
    text-decoration: none;
    color: #74b9ff;
}

/* PARTNERS */

.partners {
    overflow: hidden;
    position: relative;
    padding: 133px 0 105px;
    z-index: 1;
}
.partners__pic {
    position: absolute;
    bottom: -160px;
    right: -170px;
    z-index: -1;
}
.partners__title {
    margin-bottom: 18px;
}
.partners__text {
    max-width: 895px;
    margin-bottom: 60px;
    line-height: 32px;
}
.partners-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    max-width: 285px;
    min-width: 265px;
    height: 152px;
    background-color: #ffffff;
    box-shadow: 0 0 62px 8px rgba(56, 69, 86, 0.03);
    margin-bottom: 9px;
}

/* CONTACTS */

.section-contacts {
    padding: 143px 0 117px;
    background-image: linear-gradient(to right, #1d3e51 0%, #4392af 100%);
    color: #fff;
    overflow-x: hidden;
}
.section-contacts__inner {
    display: flex;
    justify-content: space-between;
}
.section-contacts__title {
    margin-bottom: 23px;
}
.section-contacts-col {
    width: 47%;
}
.section-contacts__text {
    margin-bottom: 27px;
    line-height: 32px;
}
.section-contacts__map {
    width: 100%;
    height: 512px;
}
.section-contacts__map iframe {
    width: 100%;
    height: 100%;
}
.section-contacts-col__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-contacts-col___title {
    margin-bottom: 57px;
}
.question-form .checkbox-label {
    align-items: flex-start;
}
.question-form .checkbox-label__area {
    margin-top: 4px;
}

.question-form .form-group input {
    margin-bottom: 30px;
}
.question-form .form-submit {
    margin-top: 28px;
}

/* FOOTER */

.footer {
    padding: 18px 0;
    background-color: #11242e;
    color: #fff;
}
.footer__innrer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 18px;
}
.footer-schedule {
    font-size: 12px;
    line-height: 26.9px;
}
.footer__callback {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-data {
    margin-top: 31px;
}
.personal-data__link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-contacts .contacts__item {
    align-items: flex-start;
}
.footer-col__title {
    margin-bottom: 11px;
}
.footer .contact-link {
    color: #fff;
    font-size: 18px;
    margin-bottom: 13px;
}
.footer .contact-link:hover {
    color: #3c97f5;
}
.footer__development {
    font-size: 16px;
}
.development__link {
    text-decoration: none;
    color: #fff;
}

/* PAGE CONTACTS */

.contacts-intro {
    position: relative;
    padding: 131px 0 67px;
}
.contacts-intro__bg {
    z-index: -2;
}
.contacts-intro__pic {
    position: absolute;
    bottom: -251px;
    right: -176px;
    z-index: 200;
}
.contacts-intro::before,
.contacts-intro::after {
    content: "";
    position: absolute;
    top: 245px;
    width: 49%;
    height: 835px;
    box-shadow: 0 0 74px 7px rgba(60, 130, 179, 0.11);
    background-color: #ffffff;  
    opacity: 0.6;
    z-index: -1;
}
.contacts-intro::before {
    left: 0;
}
.contacts-intro::after { 
    right: 0;
}

.contacts-intro__title {
    margin-bottom: 20px;
}
.contacts-intro__text {
    font-weight: 500;
    margin-bottom: 70px;
}
.contacts-intro__content {
    display: flex;
    justify-content: space-between;
}
.contacts-intro-col {
    width: 45%;
}
.contacts-intro-col__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
}
.contacts-intro-col__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 35px;
}
.contacts-intro-col__item a {
    text-decoration: none;
    color: #3c98f6;
}

/* PAGE ABOUT */

.about {
    position: relative;
    overflow: hidden;
    padding: 132px 0 97px;
}
.about-pic {
    position: absolute;
    bottom: -235px;
    right: -173px;
}

.about__title {
    margin-bottom: 20px;
}
.about-list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.about-list__item {
    position: relative;
    width: 100%;
    max-width: 370px;
    background: #f2f2f6;
    padding: 26px 24px;
}
.about-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 17px;
    border: 10px solid transparent;
    border-left: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.about-list__icon {
    margin-bottom: 40px;
}
.about-list__number {
    font-weight: 800;
    font-size: 77px;
    line-height: 100%;
    color: #3c98f6;
    margin-bottom: 10px;
}
.about-list__text {
    font-size: 18px;
    font-weight: 800;
}
.managers {
    position: relative;
    padding: 168px 0 114px;
    z-index: 10;
}
.managers::before {
    content: "";
    position: absolute;
    width: 30%;
    left: 0;
    top: 290px;
    height: 560px;
    background-color: #ffffff;
    z-index: -1;
}
.managers::after {
    content: "";
    position: absolute;
    width: 40%;
    right: 0;
    top: 455px;
    height: 406px;
    background-color: #ffffff;
    z-index: -1;
}
.managers-content {
    display: flex;
    justify-content: space-between;
}
.managers-content__text {
    width: 100%;
    max-width: 675px;
}
.managers__title {
    margin-bottom: 93px; 
}
.managers-content {
    display: flex;
    align-items: center;
}
.section-subtitle {
    font-size: 32px;
    font-weight: 700;
}
.managers__subtitle {
    margin-bottom: 26px;
}
.managers-list {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 33px;
}
.managers-list__item {
    position: relative;
    padding-left: 30px;
}
.managers-list__item::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 18px;
    height: 17px;
    border: 10px solid transparent;
    border-left: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.managers-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.managers-content__pic {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 413px;
}
.managers-content__pic img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 40px -40px 0 #3c98f6;
}
.managers-content__pic-text {
    margin-top: 25px;
}
.managers-content__pic-text-name {
    font-weight: 700;
}
.managers-content__pic-text-descr {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.certificates {
    margin-top: 130px;
}
.certificates__titel {
    margin-bottom: 65px;
}
.certificates-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.certificates-list__item {
    width: 22%;
}
.certificates-list__item img {
    width: 100%;
    height: auto;
}
.spec-tech {
    padding: 133px 0 120px;
}
.spec-tech__title {
    margin-bottom: 55px;
}
.spec-tech-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.spec-tech-list__item {
    width: 32%;
    padding: 20px 18px;
    background: #fff;
    margin-bottom: 20px;
}
.spec-tech-list__item img {
    width: 100%;
    height: auto;
    display: block;
}

/* PAGE CANALIZATION */

.second-intro {
    position: relative;
    padding: 71px 0 88px;
    background: #06c3fa;
    overflow: hidden;
    color: #fff;
    z-index: 2;
}
.second-intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.second-intro__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.second-intro__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: 0.2;
}
.second-intro__pic img {
    width: 100%;
    height: auto;
}
.second-intro__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}
.second-intro-location {
    display: flex;
    align-items: center;
}
.second-intro-location__icon {
    margin-right: 11px;
}
.second-intro-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #2a2a2a;
}
.second-intro-list__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    padding: 20px;
    background: #fff;
    font-size: 18px;
}
.second-intro-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 17px;
    border: 10px solid transparent;
    border-left: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.second-intro-list__icon {
    margin-right: 15px;
}
.second-intro-consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-intro-consultation__title {
    max-width: 750px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
.second-intro-consultation__btn {
    margin: 44px 0 37px;
}
.second-intro-consultation__link {
    padding: 20px 23px;
    background: #54b6da;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    border-radius: 5px;
}
.second-intro-consultation__text {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}
.canalization-intro__title {
    margin-bottom: 20px;
}
.canalization-intro__location {
    margin-bottom: 29px;
}
.canalization-intro__list {
    margin-bottom: 42px;
}

/* DISCOUNT FORM */

.discount-form {
    padding: 75px 0;
    overflow: hidden
}
.discount-form__inner {
    position: relative;
    z-index: 2;
}
.discount-form__inner::before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: -20px;
    display: block;
    width: 220px;
    height: 239px;
    background: #ff5644;
    transform: skewX(-18deg);
    z-index: -1;
}
.discount {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.discount .form-group {
    width: 30%;
}
.discount .form-submit {
    margin-left: 20px;
}
.discount .page-btn__link {
    padding: 19px 50px;
}
.discount-form .consultation-form {
    position: relative;
}
.discount-form .consultation-form::after {
    content: "";
    position: absolute;
    right: -120px;
    top: -40px;
    display: block;
    width: 220px;
    height: 239px;
    background: #ff5644;
    transform: skewX(-18deg);
    z-index: 1;
}
.discount-form__text {
    position: absolute;
    top: 60px;
    right: -100px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    z-index: 2;
}


/* PRODUCTS */

.products {
    position: relative;
    overflow: hidden;
    padding: 90px 0;
    z-index: 1;
}
.products-pic {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -170px;
}
.products__title {
    margin-bottom: 48px;
}
.products-list {
    display: flex;
    flex-direction: column;
}
.products-list__item {
    margin-bottom: 58px;
}
.products-list__item:last-child {
    margin-bottom: 0;
}
.products-list__title {
    display: flex;
    margin-bottom: 30px;
}
.products-list__type {
    display: flex;
    width: 100%;
    padding-right: 22px;
    border-right: 1px solid #b8b8b8;
    flex-direction: column;
    justify-content: center;
}
.products-list__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 55px;
}
.products-list__descr {
    font-weight: 500;
    line-height: 32px;
}
.products-list__guarantee {
    display: flex;
    align-items: center;
    padding: 45px 42px 45px 36px;
    background-color: #ff5644;
    color: #fff;
    margin-left: 22px;
}
.products-list__guarantee-text {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    min-width: 200px;
}
.products-list__guarantee-years {
    font-size: 32px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 10px;
}
.products-list__guarantee-num {
    font-size: 52px;
}
.products-list-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-list-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 13px;
    background: #fff;
    width: 32%;
    max-width: 370px;
    border: 6px solid transparent;
    transition: .3s linear;
    margin-bottom: 30px;
}
.products-list-card:hover {
    border: 6px solid #3c98f6;
}
.products-list-card::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 25px;
    height: 25px;
    border: 15px solid transparent;
    border-left: 15px solid #3c98f6;
    border-top: 15px solid #3c98f6;
    transition: .3s linear;
}
.products-list-card__title {
    font-size: 28px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 22px;
    text-align: center;
}
.products-list-card__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 252px;
    margin-bottom: 50px;
}
.products-list-card__pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.products-list-card__descr {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 23px;
}
.products-list-card__descr-item {
    margin-bottom: 19px;
}
.products-list-card__descr-item:last-child {
    margin-bottom: 0;
}
.products-list-card__price {
    font-size: 28px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 45px;
}
.products-list-card__btn {
    margin-bottom: 15px;
}
.products-list-card__btn-link {
    padding: 15px 14px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.24px;
    text-decoration: none;
    color: #3c98f6;
    border-radius: 5px;
    border: 2px solid #3c98f6;
    transition: .3s linear;
}
.products-list-card__btn-link:hover {
    color: #fff;
    border: 2px solid #177de4;
    background: #177de4;
}


/* DIFFERENCES */

.differences {
    position: relative;
    padding: 134px 0 123px;
}
.differences__title {
    margin-bottom: 12px;
}
.differences__text {
    line-height: 32px;
    max-width: 935px;
    margin-bottom: 35px;
}
.differences-table {
    font-size: 16px;
    font-weight: 500;;
}
.differences-table__cell {
    width: 232px;
    height: 84px;
    background-color: #f2f2f6;
    text-align: center;
    padding: 13px 30px;
}
tbody .differences-table__row:last-child .differences-table__cell:not(.differences-table__col-1) {
    font-size: 24px;
    font-weight: 800;
}
th {
    font-weight: inherit;
}

/* CANALIZATION CONSULTATION FORM */

.consultation-form__small-text {
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    max-width: 965px;
    margin: 0 auto 30px;
}
.consultation-form__subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    max-width: 695px;
    margin: 0 auto 22px;
    line-height: 32px;
} 
.canalization-consult .consultation-form {
    transform: translateY(-55px);
}
.canalization-consult .form-group {
    width: 25%;
}
.canalization-consult .form-submit {
    width: 45%;
}

/* MONTAGE */

.montage {
    padding: 100px 0 0;
}
.montage__title {
    margin-bottom: 15px;
}
.montage__text {
    margin-bottom: 61px;
}
.montage-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.montage-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 225px;
    padding: 12px 12px 27px 25px;
    background-color: #f2f2f6;
    margin-bottom: 125px;
}
.montage-list__item::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.montage-list__item::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -60px;
    width: 30px;
    height: 30px;
    border: 30px solid transparent; 
    border-left: 30px solid #f2f2f6;
    transition: .3s linear;
    transform: translateY(-50%);
}
.montage-list__item:nth-child(3)::after {
    top: auto;
    right: auto;
    left: 50%;
    bottom: -60px;
    border: 30px solid transparent; 
    border-top: 30px solid #f2f2f6;
    transform: translateX(-50%);
}
.montage-list__item:nth-child(4)::after {
    display: none;
}
.montage-list__item:nth-child(5)::after,
.montage-list__item:nth-child(6)::after {
    bottom: auto;
    right: auto;
    left: -60px;
    top: 50%;
    border: 30px solid transparent; 
    border-right: 30px solid #f2f2f6;
    transform: translateY(-50%);
}
.montage-list__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85px;
}
.montage-list__icon {
    align-self: flex-end;
}
.montage-list__num {
    font-size: 77px;
    line-height: 77px;
    font-weight: 800;
    color: #3c98f6;
}
.montage-list__text {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
}
.montage-list-btn {
    position: absolute;
    bottom: -64px;
    left: 0;
    width: 100%;
}
.montage-list-btn__link {
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

/* RECOMMENDATION */

.recommendation {
    padding: 130px 0 100px;
}
.recommendation__title {
    margin-bottom: 26px;
}
.recommendation__subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}
.recommendation__text {
    max-width: 1090px;
    line-height: 32px;
    margin-bottom: 80px;
}
.recommendation-list {
    display: flex;
    justify-content: space-between;
}
.recommendation-list__item {
    position: relative;
    width: 32%;
    max-width: 370px;
    background-color: #ffffff;
    padding: 47px 30px 56px 34px;
    z-index: 1;
}
.recommendation-list__icon {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 68px;
    font-weight: 700;
}
.recommendation-list__item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-left: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.recommendation-list__item::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border: 53px solid transparent;
    border-right: 70px solid #ff5644;
    border-top: 40px solid #ff5644;
    transition: .3s linear;
    z-index: -1;
}
.recommendation-list__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}
.recommendation-list__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
}

/* CONSEQUENCE */

.consequence {
    position: relative;
    overflow: hidden;
    padding: 130px 0 445px;
}
.consequence-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.consequence-bg img {
    width: 100%;
    height: auto;
}
.consequence__title {
    margin-bottom: 37px;
}
.consequence__text {
    line-height: 32px;
    margin-bottom: 80px;
}
.consequence-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 515px;
}
.consequence-list__item {
    position: relative;
    padding: 32px 13px 15px;
    background: #fff;
    align-self: flex-start;
}
.consequence-list__item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-left: 10px solid #3c98f6;
    border-top: 10px solid #3c98f6;
    transition: .3s linear;
}
.consequence-list__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 26px;
    padding-left: 15px;
}
.consequence-list__pic {
    width: 100%;
}
.consequence-list__pic img {
    width: 100%;
    height: auto;
    display: block;
}
.consequence-list__item:nth-child(1) {
    margin-top: 50px;
}
.consequence-list__item:nth-child(3) {
    margin-top: 120px;
}
.consequence-warning {
    position: absolute;
    bottom: -124px;
    left: 65px;
    width: 100%;
    max-width: 774px;
    padding: 59px 43px 39px;
    background-color: #ff5644;
    color: #fff;
}
.consequence-warning__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 22px;
}
.consequence-warning__text {
    line-height: 32px;
}

/* VIDEO */

.video {
    padding: 230px 0 108px;
}
.video__inner {
    position: relative;
}
.montage-form {
    position: absolute;
    top: -450px;
    left: 0;
}
.montage-form .consultation {
    justify-content: center;
}
.montage-form .consultation .form-submit {
    width: 35%;
    margin-left: 19px;
}
.montage-form .consultation-form__subtitle {
    max-width: none;
}
.video-list {
    display: flex;
    justify-content: space-between;
}
.video-list__item {
    width: 49%;
    max-width: 570px;
    padding: 30px 21px 21px;
    background: #fff;
}
.video-list__title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    padding-left: 13px;
    margin-bottom: 19px;
}
.video-list__text {
    font-size: 19px;
    line-height: 32px;
    padding-left: 13px;
    margin-bottom: 21px;
}
.video-list__pic {
    position: relative;
    width: 100%;
    z-index: 1;
}
.video-list-play-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78px;
    height: 75px;
    background-color: #3c98f6;
    transition: .3s linear;
}
.video-list-play-btn__icon {
    position: relative;
    width: 100%;
    height: 100%;
}
.video-list__pic .video-list-play-btn__icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 34px;
    transform: translate(-50%, -50%);
}
.video-list__pic img {
    width: 100%;
    height: auto;
    display: block;
}
.video-list__link:hover .video-list-play-btn {
    background: #177de4;
}
.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 200;
}
.video-popup__wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 40px;
    margin: auto;
}
.video-popup-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.video-popup-close {
    fill: #fff;
    position: absolute;
    display: block;
    top: 20px;
    right: 30px;
    width: 15px;
    z-index: 4;
    cursor: pointer;
}


/* CONTRACT */

.contract {
    position: relative;
    padding: 130px 0 97px;
}
.contract::before {
    content: "";
    position: absolute;
    top: 340px;
    left: 0;
    width: 35%;
    height: 536px;
    background-color: #f2f2f6;
    z-index: -1;
}
.contract__title {
    margin-bottom: 75px;
}

.contract-text__title,
.contract-text__subtitle {
    line-height: 48px;
}
.contract-content {
    display: flex;
    justify-content: space-between;
}
.contract-text {
    width: 50%;
    max-width: 520px;
}
.contract-text__title {
    margin-bottom: 73px;
}
.contract-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
}
.contract-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.contract-list__item:last-child {
    margin-bottom: 0;
}
.contract-list__icon {
    margin-right: 19px;
}
.contract-list__text {
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
}
.contract-text-btn {
    margin-top: 30px;
}
.contract-pic {
    position: relative;
    padding: 20px 15px;
    background: #f2f2f6;
    z-index: 1;
}
.contract-pic::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -70px;
    width: 100%;
    height: 427px;
    background-color: #f2f2f6;
    z-index: -1;
}
.contract-pic img {
    width: 100%;
    height: auto;
    display: block;
}
.contract-form {
    margin-top: 220px;
}

/* RELATED PRODUCTS */

.related-products {
    padding: 164px 0 0;
}
.related-products__title {
    margin-bottom: 38px;
}


/* PAGE DRILLING */

.second-intro__title.drilling-intro__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
}
.drilling-intro__location {
    margin-bottom: 29px;
}
.drilling-intro__list {
    margin-bottom: 42px;
}

/* drilling info */

.drilling-info {
    padding: 90px 0;
}
.drilling-info__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drilling-info__pic {
    width: 40%;
    max-width: 427px;
}
.drilling-info__pic img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 41px -41px 0 #3c98f6;
}
.drilling-info__text {
    width: 55%;
}
.drilling-info__title {
    margin-bottom: 28px;
}
.drilling-info__subtitle {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 41px;
}
.drilling-info__descr {
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
}


/* drilling products */

.drilling-products {
    position: relative;
}
.drilling-products-pic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 600px;
}
.drilling-products-pic img {
    width: 100%;
    height: auto;
}
.drilling-products .products-list-card__title {
    font-size: 24px;
    line-height: 25px;
}
.drilling-products .products-list-cards {
    justify-content: center;
}
.drilling-products .products-list-card:nth-child(2n) {
    margin: 0 30px 30px;
}
.drilling-products .products-list-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drilling-products .products-list-card__btn-link {
    display: block;
    text-align: center;
}


/* drilling montage */

.drilling-montage .montage-list__text {
    font-size: 20px;
}
.drilling-montage .montage-list__icon {
    display: flex;
    align-items: center;
}
.drilling-montage .montage-list__icon span {
    margin: 0 5px;
}

/* drill-services */

.drill-services {
    padding-bottom: 231px;
}
.drill-services__title {
    margin-bottom: 67px;
}
.drill-services .drill-services-list__icon {
    margin-bottom: 18px;
}
.drill-services .recommendation-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drill-services .recommendation-list__item::after {
    border-right: 70px solid #3c98f6;
    border-top: 40px solid #3c98f6;
}
.drill-services-list-btn {
    margin-top: 28px;
}
.drill-services-list-btn__link {
    display: block;
    text-align: center;
    padding: 10px 10px;
}

/* drilling form */

.drilling-why.why {
    padding-top: 0;
    overflow: visible;
}
.drilling-form .consultation {
    justify-content: center;
}
.drilling-form {
    transform: translateY(-110px);
}
.drilling-form .form-submit {
    width: 45%;
    margin-left: 20px;
}

/* drilling spec tech */

.drilling-spec-tech {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.drilling-spec-tech-pic {
    position: absolute;
    bottom: 141px;
    left: -304px;
}

.drilling-guarantee-form {
    padding: 85px 0;
}
.drilling-guarantee-form .consultation-form__subtitle {
    max-width: none;
}

/* popups */

.page-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
    opacity: 0;
    transition: .3s linear;
}
.page-popup.popup_fade {
    display: block;
}
.page-popup.popup_active {
    opacity: 1;
}
.popup-wrapper {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 765px;
    margin: 60px auto;
    padding: 50px 48px 40px;
    border-radius: 5px;
    transition: .3s linear;
    transform: translateY(-200%);
}
.popup_active .popup-wrapper {
    transform: translateY(0);
}
.popup-close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
}
.popup-title {
    font-weight: 700;
    text-align: center;
}
.popup-form__title {
    font-size: 26px;
    line-height: 34px;
    max-width: 510px;
    margin: 0 auto 33px;
}
.popup-form-phone {
    font-size: 26px;
    font-weight: 700;
    line-height: 47px;
    max-width: 380px;
    margin: 40px auto 0;
}
.popup-form-phone__link {
    text-decoration: none;
    color: #2a2a2a;
    font-size: 41px;
}

.popup-form__content .consultation {
    flex-direction: column;
    width: 100%;
    max-width: 366px;
    margin: 0 auto;
}
.popup-form__content .consultation .form-group {
    width: 100%;
    margin-bottom: 30px;
}
.popup-form__content .consultation .form-submit {
    width: 100%;
}
.popup-form__content .checkbox-label__text {
    color: #2a2a2a;
    font-size: 11px;
}
.popup-form__content .checkbox-label__text a {
    text-decoration: underline;
}
.popup-form__content .form-input {
    border: none;
    background-color: #f1f3f5;
}
.popup-form__content .form-label {
    top: 16px;
    font-weight: 500;
}
.popup-privacy-policy__text {
    height: 436px;
    overflow: auto;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}
.popup-privacy-policy__title {
    margin-bottom: 21px;
}
.popup-privacy-policy__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 11px;
}

.popup-success__wrapper {
    padding: 137px 80px 141px;
}

.popup-success__text {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
}
.popup-success__text span {
    font-size: 35px;
}